<%= render "layouts/admin_header"%>
<div class="bg-container">

<div class="container">
	<h1>管理画面</h1>

	<div class="row">
		<div class="col-lg-5">
			<%= link_to "顧客管理画面" , admins_end_users_path ,class:"btn btn-success"%>
		</div>
		<div class="col-lg-4">
			<%= link_to "商品管理画面" , admins_sell_cds_path ,class:"btn btn-success"%>
			<div class="box"><span class="danger"><%= link_to "Artist一覧" ,   admins_sell_cds_artist_index_path ,class:"btn btn-danger " ,data: {"turbolinks" => false} %></span>  /  <span class="gander"><%= link_to "Artist追加" ,  admins_sell_cds_artist_new_path ,class:"btn btn-danger" ,data: {"turbolinks" => false} %></span><br>
			<span class="danger"><%= link_to "Genre一覧" ,  admins_sell_cds_genre_index_path ,class:"btn btn-danger" ,data: {"turbolinks" => false} %></span> / <span><%= link_to "Genre追加" , admins_sell_cds_genre_new_path ,class:"btn btn-danger" ,data: {"turbolinks" => false} %></span><br>
			<span class="danger"><%= link_to "Label一覧" , admins_sell_cds_label_index_path,class:"btn btn-danger" ,data: {"turbolinks" => false} %></span> / <span class="danger"><%= link_to "Label追加" , admins_sell_cds_label_new_path,class:"btn btn-danger" ,data: {"turbolinks" => false} %></span>
		</div></div>
		<div class="col-lg-3">
			<%= link_to "購入履歴一覧" , admins_orders_path, class:"btn btn-success" %>
		</div>
	</div>
</div>

</div>
