<%= render "layouts/admin_header"%>
<div class="container">

	<%= form_for (@artist), url: admins_sell_cds_artist_create_path do |f| %>
	<% if @artist.errors.any? %>
	<div id="error_explanation">
     <h2><%= @artist.errors.count %>件のエラーが発生しました。</h2>
     <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
<% end %>
<% end %>
  	  </ul>
  </div>
  	<div>
      <h1>Artist追加</h1>
  		<h1>Artist</h1>
  		<%= f.text_field :artist ,class:"col-xs-12"%>
    </div>

     <%= f.submit "追加", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
     <% end %>
</div>