<%= render "layouts/admin_header"%>

<div class="bg-container">
<div class="container">

	<%= form_for (@genre), url: admins_sell_cds_genre_create_path do |f| %>
	<% if @genre.errors.any? %>
	<div id="error_explanation">
     <h2><%= @genre.errors.count %>件のエラーが発生しました。</h2>
     <ul>
      <% @genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
  <% end %>
  <% end %>
  	  </ul>
  </div>
  	<div>
      <h1>Genre追加</h1>
  		<h1>Genre</h1>
  		<%= f.text_field :genre ,class:"col-xs-12"%>
    </div>
 <%= f.submit "追加", class:"btn btn-lg btn-block btn-base-1 mt-20" %>

  <% end %>
</div>

</div>
