<%= render "layouts/admin_header"%>

<div>
	<div>
	</div>

	<table>
				<tr><td>image</td></tr>
				<tr><td>album名</td></tr>
				<tr><td>artist名</td></tr>
				<tr><td><span>value</span><span>sale_status</span></td></tr>
	</table>





<% @sell_cds.reverse_each do |sell_cd| %>
	<table>
		<tr><td><%= link_to sell_cd.title , admins_sell_cd(sell_cd) %></td></tr>
		<tr>
			<% sell_cd.cd_artists.each do |name| %>
			<% artist = Artist.find_by(id: name.artist_id) %>
			<td><%= artist.artist %></td>
			<% end %>
		</tr>
		<tr><td><%= sell_cd.stock %></td></tr>
		<tr><td><span>sell_cd.value</span><span>sell_cd.sale_status</span></td></tr>
		<tr><td><span><%= link_to "編集", edit_admins_sell_cd_path(sell_cd.id) %></span><span><%= link_to "削除",admins_sell_cd_path(sell_cd.id),method: :delete, data: { confirm: '本当に削除しますか？'} %></span></td></tr>

    </table>
	<%= paginate @sell_cds %>
	<% end %>


</div>
