<%= render "layouts/admin_header"%>

<div class="bg-container">

<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>


<h1>商品作成画面</h1>
<div class="main-new">
<%= form_with(model: SellCd.new, url: admins_sell_cds_main_create_path, local: true) do |form| %>
  <div class="field">
<!-- title -->
    <%= form.label :title %><br>
    <%= form.text_field :title %><br>
<!-- artist_id -->
    <%= form.label :artist_id %><br>
    <%= form.select :artist_id,@artistid %>
    <%= link_to admins_sell_cds_artist_new_path ,class:"btn" ,data: {"turbolinks" => false} do%>新規アーティストの追加<%end%>
    <br>
<!-- label_id -->
    <%= form.label :label_id %><br>
    <%= form.select :label_id, @labelid %>
    <%= link_to admins_sell_cds_label_new_path ,class:"btn" ,data: {"turbolinks" => false} do%>新規レーベルの追加<%end%>
    <br>
<!-- genre_id -->
    <%= form.label :genre_id %><br>
    <%= form.select :genre_id,@genreid %>
    <%= link_to admins_sell_cds_genre_new_path ,class:"btn" ,data: {"turbolinks" => false} do%>新規ジャンルの追加<%end%>
    <br>
<!-- value -->
    <%= form.label :value %><br>
    <%= form.text_field :value %><br>
<!-- stock -->
    <%= form.label :stock %><br>
    <%= form.text_field :stock %><br>
<!-- sell_status -->
<!-- select:enum @helpers/admins/sell_cds_helper.rb -->
    <%= form.label :sell_status %><br>
    <%= form.select :sell_status, [[enum(1), 1],[enum(2), 2]] %><br>
<!-- image_id   refile -->
<!-- 画像を複数投稿可能にしたいな -->
    <%= form.label :image %><br>
    <%= form.attachment_field :image %><br>


      <%= form.fields_for :sell_cd_images do |i| %>
       <%= render "sell_cd_image_fields", f: f %>
      <%end%>
      <div class="links">
       <%= link_to_add_association "add image", form, :sell_cd_images %>
      </div>


  </div>
  <div class="discs">
    <%= form.fields_for :discs do |f| %>
      <%= render "disc_fields", f: f %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "add disc", form, :discs %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit  :class=>"btn btn-primary btn-lg btn-block"%>
  </div>
<% end %>
</div>

</div>
