<h2>商品作成画面</h2>

<%= form_with(model: @sell_cd, url: admins_sell_cds_main_create_path, local: true) do |form| %>
  <div class="field">
<!-- title -->
    <%= form.label :title %><br>
    <%= form.text_field :title %><br>
<!-- value -->
    <%= form.label :value %><br>
    <%= form.text_field :value %><br>
<!-- image_id   refile -->
    <%= form.label :image %><br>
    <%= form.attachment_field :image %><br>
<!-- stock -->
    <%= form.label :stock %><br>
    <%= form.text_field :stock %><br>
<!-- label_id -->
    <%= form.label :label_id %><br>
    <%= form.select :label_id, @labelid %>
    <%= link_to admins_sell_cds_label_new_path(params[:id]) ,class:"btn" do%>新規レーベルの追加<%end%>
    <br>
<!-- artist_id -->
    <%= form.label :artist_id %><br>
    <%= form.select :artist_id,@artistid %>
    <%= link_to admins_sell_cds_artist_new_path(params[:id]) ,class:"btn" do%>新規アーティストの追加<%end%>
    <br>
<!-- label_id -->
    <%= form.label :genre_id %><br>
    <%= form.select :genre_id,@genreid %>
    <%= link_to admins_sell_cds_genre_new_path(params[:id]) ,class:"btn" do%>新規ジャンルの追加<%end%>
    <br>
<!-- sell_status -->
<!-- select:enum @helpers/admins/sell_cds_helper.rb -->
    <%= form.label :sell_status %><br>
    <%= form.select :sell_status, [[enum(1), 1],[enum(2), 2]] %><br>

  </div>
  <div class="discs">
    <%= form.fields_for :discs do |f| %>
      <%= render "disc_fields", f: f %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "add disc", form, :discs %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
