<div class="container">
	<%= form_for(@sell_cd) do |f| %>

	<% if @sell_cd.errors.any? %>
	<div id="error_explanation">
     <h2><%= @sell_cd.errors.count %>件のエラーが発生しました。</h2>
     <ul>
      <% @sell_cd.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  	  </ul>
  </div>
  	<div class="row">
  		<h4>Title</h4>
  		<%= f.text_field :title ,class:"col-xs-12"%>

  		<h4>Artist名</h4>
  		<%= a.text_field :artist_id ,class:"col-xs-12"%>
    </div>
    <% end %>
</div>