
<%= render "layouts/end_header"%>
<div class="container">
<%= render "layouts/sidebar" ,genres: @genres%>


<div class="col-xs-9">


    <h1>New Arrival</h1>

    <div class="new-arivval-boxes clearfix">
      <% @arrivals.each do |arrival| %>
        <div class="new-arivval-box">
          <table border="1" rules="none">
              <%if arrival.image != nil%>
              <tr><td colspan="2"><span class="top-cd-image"><%= attachment_image_tag arrival, :image,format: 'jpg' , class: "cd-image" %></span></td></tr>
            <%else%>
              <tr><td colspan="2"><span class="top-cd-image"><%= image_tag 'anpan.png', class: "top-cd-no-image" %></span></td></tr>
            <%end%>
              <tr><td colspan="2"><%= link_to sell_cd_path(arrival.id) do %><%= arrival.title %><%end%></td></tr>
              <tr><td colspan="2"><%= arrival.artist.artist %></td></tr>
              <tr><td><%= arrival.value %>円</td><td><%= enum(arrival.sell_status) %></td></tr>
          </table>
        </div>
      <% end %>
    </div>

  </div>
</div>

</div>
