<<<<<<< HEAD

<div class="container">

  <div class="main">

    <h1>New Arrival</h1>

    <div class="boxes">
      <div class="box">
        <table border="1" rules="none">
            <tr><td colspan="2"><img src=".jpg" width="20%"></td></tr>
            <tr><td colspan="2">title</td></tr>
            <tr><td colspan="2">artist</td></tr>
            <tr><td>value</td><td>sale status</td></tr>
        </table>
      </div>

      <div class="box">
        <table border="1" rules="none">
            <tr><td colspan="2"><img src=".jpg" width="20%"></td></tr>
            <tr><td colspan="2">title</td></tr>
            <tr><td colspan="2">artist</td></tr>
            <tr><td><span>value</td><td>sale status</td></tr>
        </table>
      </div>

      <div class="box">
        <table border="1" rules="none">
            <tr><td colspan="2"><img src=".jpg" width="20%"></td></tr>
            <tr><td colspan="2">title</td></tr>
            <tr><td colspan="2">artist</td></tr>
            <tr><td><span>value</td><td>sale status</td></tr>
        </table>
      </div>

      <div class="box">
        <table border="1" rules="none">
            <tr><td colspan="2"><img src=".jpg" width="20%"></td></tr>
            <tr><td colspan="2">title</td></tr>
            <tr><td colspan="2">artist</td></tr>
            <tr><td><span>value</span></td><td><span>sale status</span></td></tr>
        </table>
      </div>

      <div class="box">
        <table border="1" rules="none">
            <tr><td colspan="2"><img src=".jpg" width="20%"></td></tr>
            <tr><td colspan="2">title</td></tr>
            <tr><td colspan="2">artist</td></tr>
            <tr><td><span>value</span></td><td><span>sale status</span></td></tr>
        </table>
      </div>

    </div>

  </div>

</div>
=======
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    </nav>

        <% if end_user_signed_in? %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
         <%= link_to "マイページ", end_user_path(current_end_user.id), class: "glyphicon glyphicon-home home", style:"padding-top:15px;"%>
        </li>
        <li>
           <%= link_to "Top", root_path,class: "glyphicon glyphicon-log-in sign_in", style:"padding-top:15px;"%>
        </li>
        <li>
          <%= link_to "カート", end_user_carts_path(current_end_user.id), class: "glyphicon glyphicon-edit sign_up", style:"padding-top:15px;"%>
        </li>
        <li>
          <%= link_to "Log out", destroy_end_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout", style:"padding-top:15px;"%>
        </li>

        <li>
        <%= link_to "#{current_end_user.first_name}" ,end_user_path(current_end_user.id), class: "glyphicon ", style:"padding-top:15px;"%>
        </li>

      </ul>
    </nav>


        <% else %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Log in", new_end_user_session_path, class: "glyphicon glyphicon-home home", style:"padding-top:15px;" %>
        </li>
        <li>
          <%= link_to "Sign up", new_end_user_registration_path, class: "glyphicon glyphicon-link about", style:"padding-top:15px;"%>
        </li>
        <li>
          <%= link_to "カート", new_end_user_session_path, class: "glyphicon glyphicon-edit sign_up", style:"padding-top:15px;"%>
        </li>
        <li>
          <%= link_to "Top", root_path,class: "glyphicon glyphicon-log-in sign_in", style:"padding-top:15px;"%>
        </li>
      </ul>
    </nav>

    <div>
        <p>未ログイン</p>
    </div>
          <% end %>
  </div>
</header>


>>>>>>> ff6d5de608a1d00a81701300f68c419c0e96169a
