
<div class="container">

  <div class="main">

    <h1>New Arrival</h1>

    <div class="new-arivval-boxes">
      <% @arrivals.each do |arrival| %>
        <div class="new-arivval-box">
          <table border="1" rules="none">
              <tr><td colspan="2"><%= attachment_image_tag arrival.image, :image, :fill, 100, 100,format: 'jpg'  %></td></tr>
              <tr><td colspan="2"><%= arrival.title %></td></tr>
              <tr><td colspan="2"><%=  %></td></tr>
              <tr><td><%= arrival.value %>円</td><td><%= enum(arrival.sell_status) %></td></tr>
          </table>
        </div>
      <% end %>
    </div>

  </div>

</div>
