<%= render "layouts/admin_header"%>

<div class="admin-end_users-show">
	<div class="end-user-info">
		<div class="end_users-table">
			<table class="table table-striped">
				<tr>
					<td class="end_users-table-title" colspan="2">ユーザー基本情報</td>
				</tr>
				<tr>
					<td>名前</td>
					<td><%=@end_user.first_name%> <%=@end_user.last_name%></td>
				</tr>
				<tr>
					<td>カナ</td>
					<td><%=@end_user.kana_first%> <%=@end_user.kana_last%></td>
				</tr>
				<tr>
					<td>郵便番号</td>
					<td><%=@end_user.zip%></td>
				</tr>
				<tr>
					<td>住所</td>
					<td><%=@end_user.address%></td>
				</tr>
				<tr>
					<td>電話番号</td>
					<td><%=@end_user.phone_number%></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td><%=@end_user.email%></td>
				</tr>
				<tr>
					<td>配送先住所</td>
					<td><%=%></td>
				</tr>
			</table>
		</div>
		<div class="end_user-edit-btns">
			<table>
					<td><%=link_to "編集", edit_end_user_path(@end_user) %></td>
					<td><%=link_to "ユーザー削除", end_user_path(@end_user), method: :delete %></td>
			</table>
		</div>
	</div>
</div>