<div class="admin-end_users-show">
	<div class="end-user-info">
		<div class="end_users-table">
			<table class="table table-striped">
				<tr>
					<td class="end_users-table-title" colspan="2">ユーザー基本情報</td>
				</tr>
				<tr>
					<td>名前</td>
					<td><%=%></td>
				</tr>
				<tr>
					<td>カナ</td>
					<td><%=%></td>
				</tr>
				<tr>
					<td>郵便番号</td>
					<td><%=%></td>
				</tr>
				<tr>
					<td>住所</td>
					<td><%=%></td>
				</tr>
				<tr>
					<td>電話番号</td>
					<td><%=%></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td><%=%></td>
				</tr>
				<tr>
					<td>配送先住所</td>
					<td><%=%></td>
				</tr>
			</table>
		</div>
		<div class="end_user-edit-btns">
			<table>
				<td>編集</td>
				<td>ユーザー削除</td>
			</table>
		</div>
	</div>
</div>