<%= render "layouts/end_header"%>
<div class="container">

  <div class="main">
    <h1>注文内容</h1>

    <div class="confirm-contents">
    <h2>注文商品一覧</h2>

    <% if !@carts.nil?%>


      <% @carts.each do |cart| %>

      <div class="order-confirm-left">
      <table border="1" rules="none" style="border-bottom-style:hidden;">
      <tr>
        <td rowspan="4"><%= attachment_image_tag cart.sell_cd.image, :image, :fill, 100, 100,format: 'jpg'  %><br></td>
        <td colspan="4"><h3><%= cart.sell_cd.title %></h3></td>
      </tr>

      <tr>
        <td colspan="4">アーティスト:<%= cart.sell_cd.artist.artist %></td>
      </tr>

      <tr>
        <td colspan="4">レーベル:<%= cart.sell_cd.label.label %></td>
      </tr>

      <tr>
        <td colspan="4">ジャンル:<%= cart.sell_cd.genre.genre %></td>
      </tr>
      </table>
      </div>

      <div class="order-confirm-right">
      <table border="1" rules="none" style="border-top-style:hidden;">
      <tr>
        <td colspan="3">数量</td>
        <td colspan="1"><%= cart.quantity %>個</td>
      </tr>

      <tr>
        <td colspan="4"><%=link_to end_user_cart_path(cart.end_user_id, cart), method: :delete do%>カートから削除<%end%></td>
      </tr>

      <tr>
        <td colspan="2">ステータス　<%= enum(cart.sell_cd.sell_status)  %></td>
<<<<<<< HEAD

=======
>>>>>>> fc8f9bfd0d65014ac95793e9901fe8354b37b600
        <td colspan="2">価格　¥<%= cart.sell_cd.value %></td>
      </tr>
      </table>
      </div>
      <%end%>
    <%end%>


  <%= form_for @sell_cd,url:end_user_orders_path(current_end_user.id) do |f|%>
<<<<<<< HEAD

    <h2>お届け先を選択してください</h2>
  <label><%= f.radio_button :delivery_address, "#{@end_user.address}" %><%= @end_user.zip %> <%= @end_user.address %></label><br>

  <% @end_user.delivery_addresses.each do |da| %>
  <label><%= f.radio_button :delivery_address, "#{da.delivery_address}" %><%= da.zip %> <%= da.delivery_address %></label><br>
  <%end%>
    <h2>支払い方法を選択してください</h2>

    <label>支払い方法</label>
      <%= f.select :payment_method, [["クレジットカード",0],["銀行振込",1],["代引",2]] %>

=======

    <h2>お届け先を選択してください</h2>
  <label><%= f.radio_button :delivery_address, "#{@end_user.address}" %><%= @end_user.zip %> <%= @end_user.address %></label><br>

  <% @end_user.delivery_addresses.each do |da| %>
  <label><%= f.radio_button :delivery_address, "#{da.delivery_address}" %><%= da.zip %> <%= da.delivery_address %></label><br>
  <%end%>
    <h2>支払い方法を選択してください</h2>

    <label>支払い方法</label>
      <%= f.select :payment_method, [["クレジットカード",0],["銀行振込",1],["代引",2]] %>

>>>>>>> fc8f9bfd0d65014ac95793e9901fe8354b37b600
      <div class="order-confirm-buy">
        <%= f.submit "購入する"%>
      </div>


  <%end%>

    </div>
    </div>
  </div>
</div>
