
<div class="container">

  <div class="main">
    <h1>ありがとうございます。注文が確定されました。</h2>


    <div class="finish-orders-list">
    <table>
      <tr>
        <td>注文日<br><%= @order.created_at %></td>
        <td>合計枚数<br></td>
        <td>合計<br></td>
        <td>お届け先<br></td>
        <td>注文番号：<br><%= link_to "注文詳細",end_user_order_path() %></td>
      </tr>

      <%= @cart.each do |order| %>
      <tr>
        <td rowspan="4">画像<br></td>
        <td colspan="4">商品名：<%= order.sell_cd.title %></td>
      </tr>

      <tr>
        <td colspan="4">個数：<%= order.quantity %></td>
      </tr>

      <tr>
        <td colspan="4">価格：<%= order.sell_cd.value %></td>
      </tr>

      <tr>
        <td colspan="4">レーベル名：<%= order.sell_cd.label %></td>
      </tr>
      <% end %>
      <tr>
        <td colspan="4">小計</td>
        <td><%= price %></td>
      </tr>
      <tr>
        <td colspan="4">消費税</td>
        <td><%= price*0.08 %></td>
      </tr>
      <tr>
        <td colspan="4">送料</td>
        <td><%= shipping %></td>
      </tr>
      <tr>
        <td colspan="4">合計</td>
        <td>¥ <%= total_price %></td>
      </tr>
    </table>
    </div>

  </div>

</div>
