<div class="carts-index">
	<div class="carts-index-title">
		<h1>カート内商品一覧</h1>
	</div>
	<div class="carts-index-boxes">
		<div class="carts-index-box">
			<table>
				<tr>
					<td rowspan="4"><img></td>
					<td colspan="1"><h3 class="carts-index-box-title">シングル名/アルバム名</h3></td>
				</tr>
				<tr><td colspan="2">artist</td>
					<td class="cart-index-box-order-item">数量</td><td class="cart-index-box-order-item"><%=%></td>
				</tr>
				<tr>
					<td colspan="2">label</td>
					<td class="cart-index-box-order-item"></td><td class="cart-index-box-order-item"><%=%>カートから削除<%=%></td>
				</tr>
				<tr>
					<td colspan="2">genre</td>
					<td class="cart-index-box-order-item"><%=%>status<%=%></td><td class="cart-index-box-order-item">価格</td>
				</tr>
			</table>
		</div>
		<div class="carts-index-box">
			<table>
				<tr>
					<td rowspan="4"><img></td>
					<td colspan="1"><h3 class="carts-index-box-title">シングル名/アルバム名</h3></td>
				</tr>
				<tr><td colspan="2">artist</td>
					<td class="cart-index-box-order-item">数量</td><td class="cart-index-box-order-item"><%=%></td>
				</tr>
				<tr>
					<td colspan="2">label</td>
					<td class="cart-index-box-order-item"></td><td class="cart-index-box-order-item"><%=%>カートから削除<%=%></td>
				</tr>
				<tr>
					<td colspan="2">genre</td>
					<td class="cart-index-box-order-item"><%=%>status<%=%></td><td class="cart-index-box-order-item">価格</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="carts-index-value">
		<table align=right>
			<tr>
				<td>合計枚数</td><td><%=%></td>
			</tr>
				<td>小計</td><td><%=%></td>
			<tr>
				<td>消費税</td><td><%=%></td>
			</tr>
			<tr class="carts-index-value-total">
				<div>
					<td>合計</td><td>¥ <%=%>10000000</td>
				</div>
			</tr>
		</table>
	</div>
</div>

