
<%= render "layouts/end_header"%>
<div class="container">
<%= render "layouts/sidebar" ,genres: @genres%>

<div class="col-xs-9">
	<% subtotal_value = 0 %>
	<% total_cd = 0%>
	<div class="carts-index clearfix">
		<div class="clearfix">
			<div class="carts-index-title">
				<h1>カート内商品一覧</h1>
			</div>
			<div class="carts-index-boxes">
				<% @carts.each do |cart| %>
					<div class="carts-index-box">
						<table>
							<tr>
								<td rowspan="4"><span class="cart-cd-image"><%= attachment_image_tag cart.sell_cd, :image,class: "cd-image"%></span></td>
								<td colspan="1"><h3 class="carts-index-box-title"><%=cart.sell_cd.title%></h3></td>
							</tr>
							<tr>
								<td colspan="2">
									<%=cart.sell_cd.artist.artist%>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>genre : <%=cart.sell_cd.genre.genre%></td>
								<td class="cart-index-box-order-item">数量</td>
								<td class="cart-index-box-order-item"><%=cart.quantity%></td>
							</tr>
							<tr>
								<td>label : <%=cart.sell_cd.label.label%></td>
								<td class="cart-index-box-order-item"></td>
								<td class="cart-index-box-order-item"><%=link_to end_user_cart_path(cart.end_user_id, cart), method: :delete do%>カートから削除<%end%></td>
							</tr>
							<tr>
								<td></td>
								<td class="cart-index-box-order-item"><%=%>status<%=%></td>
								<td class="cart-index-box-order-item">価格 : ¥<%=cart.sell_cd.value%></td>
							</tr>
						</table>
					</div>
					<% subtotal_value += cart.sell_cd.value*cart.quantity %>
					<% total_cd += cart.quantity %>
				<%end%>
			</div>
			<div class="carts-index-value clearfix">
				<table>
					<tr>
						<td class="carts-index-value-title">合計枚数</td><td class="carts-index-value-total"><%=total_cd%></td>
					</tr>
						<td class="carts-index-value-title">小計</td><td class="carts-index-value-total"><%=subtotal_value%></td>
					<tr>
						<%sales_tax = subtotal_value*@sales_tax_rate%>
						<td class="carts-index-value-title">消費税</td><td class="carts-index-value-total"><%=sales_tax.to_i%></td>
					</tr>
					<tr  class="carts-index-value-last">
						<%total_value = subtotal_value*(1+@sales_tax_rate)%>
						<td class="carts-index-value-title">合計</td><td class="carts-index-value-total">¥ <%=total_value.to_i%></td>
					</tr>
				</table>
			</div>
		</div>
		<div calss="to-order-confirm-btn">
			<%= link_to '購入へ進む',end_user_confirm_path(current_end_user.id), class:"btn btn-default to-order-confirm-btn" %>
		</div>
	</div>
</div>
</div>
