<div class="admin-login">
  <div class="admin-login-form">

    <h2>管理者ログイン画面</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <div class="admin-login-form-label">
          <%= f.label :メールアドレス %><br />
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <div class="admin-login-form-label">
          <%= f.label :パスワード %><br />
        </div>
          <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <div class="admin-login-form-remember">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <%= render "admins/shared/links" %>
  </div>
</div>
