<div class="container center">

<h2>アカウントの作成</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


   <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "姓",placeholder:"田中" %>
  </div>

   <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name,autocomplete: "名" ,placeholder:"太郎" %>
  </div>

   <div class="field">
    <%= f.label :kana_last %><br />
    <%= f.text_field :kana_last, autocomplete: "カナ姓",placeholder:"タナカ" %>
  </div>

   <div class="field">
    <%= f.label :kana_first %><br />
    <%= f.text_field :kana_first, autocomplete: "カナ名",placeholder:"タロウ" %>
  </div>

   <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip, autocomplete: "郵便番号",placeholder:"0000000" %>
  </div>

   <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autocomplete: "住所",placeholder:"大阪府大阪市" %>
  </div>


    <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, autocomplete: "電話番号",placeholder:"0000000000" %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "メールアドレス" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "パスワード" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "もう一度パスワードを追加してください" %>
  </div>

  <div class="actions">
    <%= f.submit "アカウントを作成" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>

</div>

