 <header>
  <div class="container">
    <nav>
      <div class="header-site-logo">
        <font face="fantasy" size="5pt">YESterdayRecords</font>
      </div>


      <div class="search_form">
        <%= form_tag(sell_cds_search_path,:method => 'get') do %>
          <%= text_field_tag :search %>
          <%= submit_tag 'Search', :name => nil %>
          <% end %>
      </div>


      <% if end_user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
           <%= link_to "マイページ", end_user_path(current_end_user.id), class: "glyphicon", style:"padding-top:15px;"%>
          </li>
          <li>
             <%= link_to "Top", root_path,class: "glyphicon", style:"padding-top:15px;"%>
          </li>
          <li>
            <%= link_to "カート", end_user_carts_path(current_end_user.id), class: "glyphicon", style:"padding-top:15px;"%>
          </li>
          <li>
            <%= link_to "Log out", destroy_end_user_session_path, method: :delete, class: "glyphicon", style:"padding-top:15px;"%>
          </li>
          <li><%= link_to "#{current_end_user.kana_first}", end_user_path(current_end_user.id), class: "glyphicon", style:"padding-top:15px;" %>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Log in", new_end_user_session_path, class: "glyphicon", style:"padding-top:15px;" %>
          </li>
          <li>
            <%= link_to "Sign up", new_end_user_registration_path, class: "glyphicon", style:"padding-top:15px;"%>
          </li>
          <li>
            <%= link_to "カート", new_end_user_session_path, class: "glyphicon", style:"padding-top:15px;"%>
          </li>
          <li>
            <%= link_to "Top", root_path,class: "glyphicon", style:"padding-top:15px;"%>
          </li>
          <li>
            <%= link_to "未ログイン", new_end_user_session_path, class: "glyphicon", style:"padding-top:15px;" %>
          </li>
          </li>
        </ul>
      <% end %>
    </nav>
  </div>
</header>
